/*Reset brower specfic CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

p {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Le VRAI CSS */
body {
    background-color:#333333;
    color:#ffffff;
    font-size: 1em;
    line-height: 1.5em;
    font-weight:300px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0 auto;
    max-width: 750px;
}

header {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    border-bottom: 1px white solid;
}

small {
    font-size: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1em;
    font-weight: bold;
    padding-right: 3px;
    /*text-shadow: 1px 1px 1px #555;*/
}

h2 {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

nav {
    margin-bottom: 15px;
    text-align: center;
}

nav a, nav a:visited {
    color: #ffffff;
}

#resultat {
    margin: 20px 0 40px;
    padding: 5px;
}

big {
    display: block;
    font-size: 90px;
    line-height: 75px;
    text-align: center;
    font-weight: bolder;
}

.woop {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#noscript {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    color: red;
}

strong {
    font-weight: bold;
    color: #C43512;
}

#submit {
    background-color: #C43512;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #F2F2F2;
    font-size: 1em;
    margin-top: 1em;
    padding: 5px;
    width: 75px;
}
